footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  padding-top: 20px;
  width: 100%;

  .slogan {
    color: $white;
    font-size: $text-big;
  }

  .logo-footer {
    margin: 10px;
  }

  .copyright {
    align-self: flex-end;
    color: $white;
    font-size: $text-small;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  footer {
    height: 180px;
    justify-content: flex-start;

    .slogan {
      font-size: 80%;
      margin-top: 20px;
    }

    .logo-footer {
      height: 30px;
      margin: 15px 0 40px 0;
      width: auto;
    }

    .copyright {
      align-self: center;
      font-size: 40%;
    }
  }
}
