@import 'colors';

.tech-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 330px 330px;
  margin-bottom: 100px;
  margin-left: 230px;
  width: 750px;
  grid-template-areas:
    "tech1 tech2 tech3"
    "tech1 tech4 tech5";
}

.tech {
  align-content: center;
  /*background-color: $green;*/
  /*border-radius: 6px;*/
  display: grid;
  height: auto;
  justify-items: center;
  margin: 15px;
  padding: 10px 25px;
  position: relative;
  text-align: center;
  width: 231px;

  .release,
  .descripcion,
  .nombre,
  .tech-logo {
  	position: relative;
  }

  .tech-logo {
    margin-bottom: 20px;
    height: $tech-logo-size;
    width: $tech-logo-size;
  }

  .nombre {
    font-size: $text-medium;
    margin-bottom: 10px;
  }

  .release {
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.first {
  border-right: 2px solid $green;
  grid-area: tech1;
}

.second {
  grid-area: tech2;
}

.third {
  grid-area: tech3;
}

.fourth {
  grid-area: tech4;
}

.fifth {
  grid-area: tech5;
}
