@import 'colors';

.tech-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 170px;
  width: 1200px;
  margin-bottom: 100px;
}

.tech {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 330px;
  align-items: center; 
  text-align: center;
  background-color: $green;
  border-radius: 6px;
  padding: 10px 25px;
  position: relative;	
  margin: 15px;
  justify-content: center;
  transition: top left 2s ease-in-out;

  .release,
  .descripcion,
  .nombre,
  .tech-logo {
  	position: relative;
  }
  
  .tech-logo {
    width: $tech-logo-size;
    height: $tech-logo-size;
    margin-bottom: 20px;
  }

  .nombre {
    font-size: $text-medium;
    margin-bottom: 10px;
  }

  .release {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  &::before {
  	content: '';
    border: 1px solid $green;
  	border-radius: 6px;
  	position: absolute;
  	top: -10px;
  	left: -10px;
  	height: 330px;
    width: 230px;
    transition: top left 2s ease-in-out; 
  }

  &:hover::before {
    top: 10px;
    left: 10px;
    transition: top left 2s ease-in-out;
  }
}
