@import 'styles';

.title {
  display: flex;
  padding: 50px 0 0 50px;

  &::before {
    background: url("assets/triangle.svg");
    background-repeat: no-repeat;
    background-size: 90px 70px;
    content: '';
    display: flex;
    position: relative;
    left: 20px;
    top: -26px;
    height: 80px;
    width: 80px;
    z-index: -1;
  }
}