@import 'styles';

.title {
  display: flex;
  margin: 150px 0 0 70px;
  font-size: $text-big;

  &::before {
    background: url("assets/triangle.svg");
    background-repeat: no-repeat;
    background-size: $title-decoration-width $title-decoration-height;
    content: '';
    display: flex;
    position: relative;
    left: 18px;
    top: -33px;
    height: $title-decoration-height;
    width: $title-decoration-width;
    z-index: -1;
  }
}

@media only screen and (max-width: 1024px) {
  .title {
    margin: 150px 0 0 0;
    justify-content: center;
  }
}
